.css-1160xiw-MuiPaper-root-MuiDrawer-paper {
    background: linear-gradient(#ff8a29 100%, #cf5d00 100%);
}

.css-10hburv-MuiTypography-root {
    color: #FFFFFF;
    font-size: 20px !important;
}

.menuMobileLink {
    text-decoration: none;
}